# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
xcuserdata/

# macOS
.DS_Store
*.swp
*~

# Swift Package Manager
.build/
Packages/*/.build/

# CocoaPods (if ever added)
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code coverage
*.gcda
*.gcno
*.profraw
*.profdata

# Archives & exports
*.ipa
*.dSYM.zip
*.dSYM
*.xcarchive

# Playgrounds
timeline.xctimeline
playground.xcworkspace
